$theme-color: #8732f5;

// tiles
$tile-selected-bg: $theme-color;
$normal-border-color: #f0f0f0;
$normal-border-color-dark: #2f2f2f;
$normal-border-width: 1px;
$middle-border-color: #aaaaaa;
$middle-border-color-dark: mix($theme-color, white);
$middle-border-width: 2px;
$thick-border-color: $theme-color;
$thick-border-width: 0.75vw;
$thick-border-radius-internal: 1vw;
$thick-border-radius: 1.5vw;


@import "fonts/MPLUSRounded1c";


html, body {
	width: 100%;
	height: 100%;
}
body {
	display: flex;
	flex-flow: column nowrap;
	font-family: MPLUSRounded1c, var(--bs-body-font-family), sans-serif;
}

header {
	padding: 0.5rem 1rem;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;

	h1 {
		flex: 1;
	}
}

.icon-links {
	text-align: center;
}

main {
	display: grid;
	grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 0;
	text-align: center;
	padding: $thick-border-width * 2;
	width: 100%;
	min-width: 20rem;
	max-width: 75vh;
	margin: auto;


	label {
		// center text
		display: flex;
		align-items: center;
	}
	label.vertical {
		flex-direction: column-reverse; // align text at bottom
		padding-bottom: 2 * $thick-border-width;
	}
	label.horizontal {
		flex-direction: row-reverse; // align text to end
		padding-right: 2 * $thick-border-width;
		min-width: 4em;
	}
	label.correct {
		color: $theme-color;
		font-weight: 500;
	}
}

footer {
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	align-items: center;
	padding: 1rem;
	gap: 1rem;

	> * {
		flex-basis: 4rem;
		margin: auto;
	}

	#crossToggle {
		&::before {
			background: $theme-color no-repeat center center;
			background-size: 100%;
		}

		&.is-cross {
			&::before {
				background-color: transparent;
				background-image: url("images/cross.svg");
			}
		}
	}
	#binBtn {
		&::before {
			background: url("images/trash.svg") no-repeat center center;
			background-size: 100%;
		}
	}

	#difficultyToggleContainer {
		display: flex;
		flex-flow: column nowrap;

		> * {
			width: 100%;
			text-align: center;
		}
		> input {
			border: none;
		}
		> label {
			font-size: 0.9em;
		}
	}
}

.btn-link {
	color: $theme-color;
}
.btn-outline-primary {
	color: $theme-color;
	border-color: transparent;
	&:active,
	&:hover {
		color: mix($theme-color, black);
		background-color: rgba($theme-color, 0.25);
		border-color: transparent;
	}
	&:focus {
		box-shadow: 0 0 0 .25rem rgba($theme-color,.5);
	}
}
.btn-icon {
	height: 4rem;
	position: relative;
	border-radius: 50%;
	aspect-ratio: 1;

	&::before {
		content: "";
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0; height: 1.5rem;
		margin: auto;
		aspect-ratio: 1;
	}
}
.btn-refresh {
	&::before {
		background: url("images/refresh.svg") no-repeat center center;
		background-size: contain;
	}
}
.btn-github {
	&::before {
		background: url("/assets/images/logos/GitHub-Mark.svg") no-repeat center center;
		background-size: contain;
	}
}
.btn-google-play {
	aspect-ratio: auto;
	border-radius: 0.5rem;
	display: inline-flex;
	flex-flow: row nowrap;
	align-items: center;
	img {
		height: 2rem;
		max-height: 100%;
		width: auto;
	}
}

tile {
	aspect-ratio: 1;
	position: relative;
	transition: background-color 0.05s;
	touch-action: pinch-zoom; // disable double-tap to zoom and panning

	&::before, &::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	&.selected {
		background: $tile-selected-bg;
	}
	&.crossed {
		background: url("images/cross.svg") no-repeat center center;
		background-size: 50%;
	}

	&::before {
		border: $normal-border-width solid $normal-border-color;
		border-right-width: 0;
		border-bottom-width: 0;
	}
	&.x-middle::before {
		border-left-width: $middle-border-width;
		border-left-color: $middle-border-color;
	}
	&.y-middle::before {
		border-top-width: $middle-border-width;
		border-top-color: $middle-border-color;
	}

	&.x-start,
	&.x-end,
	&.y-start,
	&.y-end {
		&::after {
			margin: -$thick-border-width * 2 / 3;
			border-width: $thick-border-width;
			border-color: $theme-color;
		}
	}
	&.x-start::after {
		border-left-style: solid;
	}
	&.x-end::after {
		border-right-style: solid;
	}
	&.y-start::after {
		border-top-style: solid;
	}
	&.y-end::after {
		border-bottom-style: solid;
	}
	@mixin thick-border-radius($position) {
		border-#{$position}-radius: $thick-border-radius-internal;
		&::after {
			border-#{$position}-radius: $thick-border-radius;
		}
	}
	&.x-start.y-start {
		@include thick-border-radius(top-left);
	}
	&.x-start.y-end {
		@include thick-border-radius(bottom-left);
	}
	&.x-end.y-start {
		@include thick-border-radius(top-right);
	}
	&.x-end.y-end {
		@include thick-border-radius(bottom-right);
	}
}

.modal {
	align-content: center;
	align-items: center;
}
.modal-dialog {
	margin: auto;
}

@media (prefers-color-scheme: dark) {
	html, body, .modal-content {
		background: #191919;
		color: white;
	}
	input {
		background: rgba(#ffffff, 0.1);
		color: white;
	}
	.btn-icon::before {
		filter: invert(1);
	}
	#crossToggle {
		&::before {
			filter: none;
		}
		&.is-cross::before {
			filter: invert(1);
		}
	}
	tile {
		&.crossed {
			background-image: url("/nonogram/images/cross-white.svg");
		}

		&::before {
			border-color: $normal-border-color-dark;
		}

		&.x-middle::before {
			border-left-color: $middle-border-color-dark;
		}

		&.y-middle::before {
			border-top-color: $middle-border-color-dark;
		}
	}
}
