// used commands like this to subset the full 3.4MB ttf file:
// pyftsubset MPLUSRounded1c-Regular.ttf --unicodes=100-5ff --ignore-missing-unicodes --with-zopfli --recommended-glyphs --flavor=woff2

$unicode-ranges: (
	"00-1f",
	"20-3f",
	"40-7f",
	"80-9f",
	"a0-ff",
	"100-1ff",
	"200-2ff",
	"300-3ff",
	"400-4ff",
	"500-5ff",
);

$weights: (
	"Regular": 400,
	"Medium": 500,
);

@each $unicode-range in $unicode-ranges {
	@each $weight-name, $weight-num in $weights {
		@font-face {
			font-family: 'MPLUSRounded1c';
			font-style: normal;
			font-weight: $weight-num;
			font-display: swap;
			src: local('MPLUSRounded1c'), local('M PLUS Rounded 1c'),
			url('/nonogram/fonts/font-files/MPLUSRounded1c-#{$weight-name}.#{$unicode-range}.woff2') format('woff2'),
			url('/nonogram/fonts/font-files/MPLUSRounded1c-#{$weight-name}.#{$unicode-range}.woff') format('woff'),
			url('/nonogram/fonts/font-files/MPLUSRounded1c-#{$weight-name}.#{$unicode-range}.ttf') format('truetype');
			unicode-range: #{"U+" + $unicode-range};
		}
	}
}
