// used commands like this to subset the full 3.4MB ttf file:
// pyftsubset MPLUSRounded1c-Regular.ttf --unicodes=100-5ff --ignore-missing-unicodes --with-zopfli --recommended-glyphs --flavor=woff2

@font-face {
	font-family: 'MPLUSRounded1c';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('MPLUSRounded1c'), local('M PLUS Rounded 1c'),
	url('/nonogram/fonts/MPLUSRounded1c-Regular.00-ff.woff2') format('woff2'),
	url('/nonogram/fonts/MPLUSRounded1c-Regular.00-ff.woff') format('woff'),
	url('/nonogram/fonts/MPLUSRounded1c-Regular.00-ff.ttf') format('truetype');
	unicode-range: U+00-FF; /* basic Latin */
}
@font-face {
	font-family: 'MPLUSRounded1c';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('MPLUSRounded1c'), local('M PLUS Rounded 1c'),
	url('/nonogram/fonts/MPLUSRounded1c-Regular.100-5ff.woff2') format('woff2'),
	url('/nonogram/fonts/MPLUSRounded1c-Regular.100-5ff.woff') format('woff'),
	url('/nonogram/fonts/MPLUSRounded1c-Regular.100-5ff.ttf') format('truetype');
	unicode-range: U+100-5FF; /* extended Latin */
}

@font-face {
	font-family: 'MPLUSRounded1c';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local('MPLUSRounded1c'), local('M PLUS Rounded 1c'),
	url('/nonogram/fonts/MPLUSRounded1c-Medium.00-ff.woff2') format('woff2'),
	url('/nonogram/fonts/MPLUSRounded1c-Medium.00-ff.woff') format('woff'),
	url('/nonogram/fonts/MPLUSRounded1c-Medium.00-ff.ttf') format('truetype');
	unicode-range: U+00-FF; /* basic Latin */
}
@font-face {
	font-family: 'MPLUSRounded1c';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local('MPLUSRounded1c'), local('M PLUS Rounded 1c'),
	url('/nonogram/fonts/MPLUSRounded1c-Medium.100-5ff.woff2') format('woff2'),
	url('/nonogram/fonts/MPLUSRounded1c-Medium.100-5ff.woff') format('woff'),
	url('/nonogram/fonts/MPLUSRounded1c-Medium.100-5ff.ttf') format('truetype');
	unicode-range: U+100-5FF; /* extended Latin */
}
